@import url("./gruvbox.css");

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "SauceCodePro Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

window#waybar {
  background-color: @bg0;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
}

#workspaces button {
  padding: 0 5px;
  color: @fg1;
}

#workspaces button.active {
  color: @orange;
  background-color: @bg_dim;
}

#workspaces button:hover {
  color: @fg2;
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#bluetooth,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
}

#window,
#language,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#window {
  color: @yellow;
}

/* #clock { */
/*     color: @oldWhite; */
/* } */

#battery {
  color: @salad;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

@keyframes blink {
  to {
    background-color: @red;
    color: #ffffff;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#backlight {
  color: @aqua;
}

#network {
  color: @purple;
}

#network.disconnected {
  color: @red;
}

#pulseaudio {
  color: @blue;
}

#pulseaudio.muted {
  color: @blue;
}

#language {
  color: @orange;
  margin-right: 8px;
}

#bluetooth {
  color: @blue2;
}

#custom-vpn.on {
  color: @autumnGreen;
  /* A pleasant green */
}

#custom-vpn.off {
  /* Uses default color */
}

#clock {
  color: @yellow;
}
