// default config

configuration {
    show-icons: true;
    font: "SauceCodePro Nerd Font 12";
    icon-theme: "Gruvbox-Plus-Dark";

    display-ssh:    "󰣀 ssh:";
    display-run:    "󱓞 run:";
    display-drun:   "󰣖 drun:";
    display-window: "󱂬 window:";
    display-combi:  "󰕘 combi:";
    display-filebrowser: "󰉋 filebrowser:";

    drun-display-format: "{name}";
    transient-window: true;
    dpi: 110;

    terminal: "{kitty}";
}


@theme "~/.config/rofi/gruvbox.rasi"
