:root {
	--tab-height: 16px;
	--tab-fz: 12px;
	--bg0-hard: #1d2021;
	--bg0-soft: #32302f;
	--bg0-normal: #2e3436;
	--bg0: var(--bg0-normal);
	--bg1: #010101;
	--bg2: #504945;
	--bg3: #665c54;
	--bg4: #7c6f64;
	--fg0: #fafafa;
	--fg1: #f6f6f6;
	--fg2: #d5c4a1;
	--fg3: #bdae93;
	--fg4: #a89984;
	--bright-red: #fb4934;
	--bright-green: #b8bb26;
	--bright-yellow: #fabd2f;
	--bright-blue: #83a598;
	--bright-purple: #d3869b;
	--bright-aqua: #8ec07c;
	--bright-gray: #928374;
	--bright-orange: #fe8019;
	--dark-red: #cc241d;
	--dark-green: #98971a;
	--dark-yellow: #d79921;
	--dark-blue: #458588;
	--dark-purple: #b16286;
	--dark-aqua: #689d6a;
	--dark-gray: #a89984;
	--dark-orange: #d65d0e;
}

#tabs-tabbar-container {
    --Height: var(--tab-height) !important;
    --tab-height: 16px;
    --tab-fz: 12px;
}

.tabs-top #tabs-tabbar-container .toolbar-tabbar-before:empty, .tabs-top #tabs-tabbar-container .toolbar-tabbar-after:empty, .tabs-bottom #tabs-tabbar-container .toolbar-tabbar-before:empty, .tabs-bottom #tabs-tabbar-container .toolbar-tabbar-after:empty {
	display: none;
}

/* Address Bar Tweaks */
.UrlBar-AddressField {
    height: var(--tab-height) !important;
    /* width: 34vw !important; */
    margin-top: 0px !important;
    background-color: var(--colorBg) !important;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, margin-top 0.2s ease-in-out, right 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;
}


.UrlBar-AddressField&:focus-within {
    height: var(--tab-height) !important;
    margin-top: 0px !important;
    background-color: var(--colorBg) !important;
    outline: none !important;
    box-shadow: none !important;
}

.UrlBar-SearchField, .UrlBar-AddressField {
    margin: 0 !important;
}

.UrlBar-UrlField #urlFieldInput {
    font-size: var(--tab-fz) !important;
    font-family: 'SpaceMono Nerd Font', sans-serif !important;
}

#browser.linux, #browser.linux button, #browser.linux input, #browser.linux select, #browser.linux textarea {
    font-family: 'SpaceMono Nerd Font', sans-serif !important;
}

.tab .close {
    visibility: hidden !important;
}

.tab:hover .close {
    visibility: visible !important;
}

.color-behind-tabs-off .SearchField, .color-behind-tabs-off .MailSearchField-Inner, .color-behind-tabs-off .UrlBar-AddressField {
    border: none !important;
    outline: none !important;
}

.transparent-tabbar .tab-position .tab.active .tab-header .favicon:not(.svg),
.theme-dark .tab-position .tab.active .tab-header .favicon:not(.svg),
.acc-dark.color-behind-tabs-off .tab-position .tab.active .tab-header .favicon:not(.svg) {
  filter: none;
}

/* AddressField pageload indicator */
.UrlBar-AddressField .pageload .pageload-indicator {
  background-color: var(--colorAccentBg) !important;
}

/* Slimmer Tabs/Title Bar */
.tabs-top.tabs-at-edge#browser.linux:not(.fullscreen, .disable-titlebar) #header {
    min-height: calc((var(--tab-height) + var(--densityGap) * 2) / var(--uiZoomLevel)) !important;
}

#titlebar {
height: var(--tab-height) !important;
}

#tabbar-wrapper {
    height: var(--tab-height) !important;
}

#tabs-container.top {
    padding-left: 0 !important;
    min-height: var(--tab-height) !important;
}

#tabs-tabbar-container.top {
height: var(--tab-height) !important;
padding-top: 0 !important;
padding-bottom: 0 !important;
}

#browser.linux .button-toolbar:not(.panel-clickoutside-ignore) {
    display: none;
    height: var(--tab-height) !important;
}

#browser.linux .toolbar-extensions {
    min-width: 0;
}

#browser.linux .toolbar-extensions .button-toolbar,
.button-toolbar.ExtensionDropdownIcon.extensionId{
    display: flex;
}

#browser.linux .button-toolbar button {
max-width: var(--tab-height) !important;
}

.tabs-top:not(.density-on) #tabs-tabbar-container:not(:has(#tabs-subcontainer)) #tabs-container .tab {
    height: var(--tab-height) !important;
}

.button-toolbar > button {
    border-radius: 6px !important;
    height: var(--tab-height) !important;
    min-width: 16px !important;
}

.toolbar-large .button-toolbar .button-icon:not(.favicon) {
    width: var(--tab-height) !important;
    height: var(--tab-height) !important;
}

.vivaldi {
    width: 22px !important;
    height: var(--tab-height) !important;
}

/* .tabs-top #tabs-tabbar-container .toolbar-tabbar-before { */
/* margin-top: -4px !important; */
/* } */

.tab .tab-header {
    flex: 0 0 var(--tab-height);
}

/* .tabs-top #tabs-tabbar-container .toolbar-tabbar-after { */
/*     margin-top: -3px !important; */
/* } */

.SiteInfoButton {
    max-height: 22px;
}

/* Vertically Center Speed Dials */
.sdwrapper.has-SpeedDial .SpeedDialView {
    grid-template-rows: none !important;
    align-content: center !important;
}

/* Remove tab spacing in non-maximized.windows */
.linux.normal #tabs-tabbar-container.top,
.linux.normal #tabs-tabbar-container.top {
  padding-top: 0;
}

.tabs-top#browser.linux:not(.fullscreen, .disable-titlebar) #header {
    min-height: calc((var(--tab-height) + var(--densityGap) * 2) / var(--uiZoomLevel));
}

.tabs-top .vivaldi {
  margin-top: 0;
}

.SiteInfoButton-Favicon, .SiteInfoButton-SearchEngineFavicon, .SiteInfoButton-SecurityBadge {
    width: 16px !important;
    height: 16px !important; 
}


.linux .tab .title {
    height: var(--tab-height) !important;
    line-height: var(--tab-height) !important;
    font-size: var(--tab-fz);
    line-height: 1;
}

/* .tab .favicon { */
/*     min-width: 16px !important; */
/*     width: 16px !important; */
/*     min-height: 16px !important; */
/*     height: 16px !important; */
/* } */

.tabs-top:not(.tabs-at-edge, .density-on) #tabs-tabbar-container #tabs-container {
    padding-bottom: 0 !important;
}

.dim-blurred:not(.hasfocus) .SearchField, .dim-blurred:not(.hasfocus) .MailSearchField-Inner, .dim-blurred:not(.hasfocus) .UrlBar-AddressField {
    border: none !important;
}

.tabs-top #tabs-container .resize, .tabs-bottom #tabs-container .resize {
    margin-right: 0 !important;
    max-width: 100% !important;
}

.toolbar-tabbar-after {
    display: none !important;
}

.BookmarkButton {
  display: none !important;
}

.extensionIconPopupMenu .toolbar-mainbar {
    --ToolbarItemGap: 8px;
    padding-block: 8px;
}

#tabs-container .tab-audio {
    top: 0 !important;
}

#browser:not(.address-top.mail-bar-top) > #header {
    box-shadow: none !important;
}

.mainbar {
    border: none !important;
}

#browser.color-behind-tabs-on .tab:nth-child(odd) {
    background-color: var(--bg2);
    color: var(--fg2);
}

#browser.color-behind-tabs-on .tab:nth-child(even) {
    background-color: var(--bg3);
    color: var(--fg2);
}

#browser.color-behind-tabs-on .tab.active.active {
    background-color: var(--bg0-hard);
    color: var(--fg2);
}
