:root {
  --bg-active-tab: #2e3436;
  --fg-active-tab: #fabd2f;
  --bg-odd-tab: #504945;
  --bg-even-tab: #665c54;
  --tab-fg: #d5c4a1;
  --bg-pinned-tab: #b8bb26;
  --fg-pinned-tab: var(--bg-odd-tab);
  --bg-error: #cc241d;
  --bright-green: #8ec07c;
}

#browser.linux {
  --colorAccentFg: #fabd2f !important;
  --colorBg: #2e3436 !important;
}

.color-behind-tabs-on .tab {
  color: var(--tab-fg);
}
#browser.color-behind-tabs-on .tab.active {
  color: var(--colorAccentFg);
  background-color: var(--colorBg);
}

div.tab-strip span:nth-of-type(odd) .tab {
  background-color: var(--bg-odd-tab);
  color: var(--tab-fg);
}
div.tab-strip span:nth-of-type(even) .tab {
  background-color: var(--bg-even-tab);
  color: var(--tab-fg);
}

div.tab-strip span .tab.active {
  background-color: var(--colorBg);
}

div.tab-strip span .tab.active {
  background-color: var(--colorBg);
}

div.tab-strip span .tab:before {
  content: '';
  position: absolute;
  left: 2px;
  width: 2px;
  height: 16px
}
