:root {
  --tab-height: 18px;
  --tab-fz: 12px;
}

#browser
  .tabbar-wrapper
  #tabs-tabbar-container
  #tabs-container
  .tab-strip
  .tab-position {
  --Width: auto !important;
  --Height: var(--tab-height) !important;
  transform: none;
  position: static;
}

.tabs-top #tabs-tabbar-container .toolbar-tabbar-before:empty,
.tabs-top #tabs-tabbar-container .toolbar-tabbar-after:empty,
.tabs-bottom #tabs-tabbar-container .toolbar-tabbar-before:empty,
.tabs-bottom #tabs-tabbar-container .toolbar-tabbar-after:empty {
  display: none;
}

#tabs-container {
  min-height: var(--tab-height);
}

#tabs-container .resize .tab-strip {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.tabs-top #tabs-container .resize,
.tabs-bottom #tabs-container .resize {
  margin-right: 0;
  max-width: 100% !important;
}

.tabs-top.density-on.tabs-at-edge .tab:not(.tab-in-accordion).active,
.tabs-top:not(.density-on) .tab:not(.tab-in-accordion).active,
.tabs-bottom.density-on.tabs-at-edge .tab:not(.tab-in-accordion).active,
.tabs-bottom:not(.density-on) .tab:not(.tab-in-accordion).active {
  overflow: auto;
}

.tab .tab-header {
  display: flex;
  justify-content: center;
  flex: 0 0 var(--tab-height);
  padding-left: 0;
}

.linux .tab .title {
  height: var(--tab-height);
  line-height: var(--tab-height);
  flex: 0 1 auto;
  font-size: var(--tab-fz);
  font-weight: 600;
}

#tabs-container .resize .tab {
  border-right: 1px solid var(--colorAccentBg);
}

#browser #tabs-tabbar-container:not(.none) {
  height: var(--tab-height) !important;
}

.tabs-top .tab.active {
  height: var(--tab-height) !important;
}

.tab .favicon {
  min-width: var(--tab-height);
  height: var(--tab-height);
  flex: 0 0 var(--tab-height);
}

.transparent-tabbar .tab.active .tab-header .favicon:not(.svg),
.theme-dark .tab.active .tab-header .favicon:not(.svg),
.acc-dark.color-behind-tabs-off .tab.active .tab-header .favicon:not(.svg) {
  filter: none;
}

.tab .tab-header:has(.tab-audio) {
  flex-direction: row-reverse;
}

#browser:not(.alt-tabs) #tabs-container .tab-audio,
#browser:not(.alt-tabs) #tabs-container .tab.pinned:not(.active) .tab-audio {
  position: static;

  div.tab-strip span .tab.active {
    background-color: var(--colorBg);
  }

  div.tab-strip span .tab:before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 16px;
  }
}
