/* ==UserStyle==
 * @name         An Arc Like Quick Command Styling
 * @description  Arc-like styling for the Vivaldi Quick Command modal.
 * @version      2026.4.17
 * @author       PaRr0tBoY
 * @website      https://github.com/PaRr0tBoY/Awesome-Vivaldi
 * ==/UserStyle==
 */

/* ========================================
   QUICK COMMAND MODAL
   ======================================== */

.modal-wrapper:has(.quick-command-container) {
  position: fixed;
  left: 50%;
  transform: translateX(
    -50%
  ); /* Horizontally center only, control vertical with top */
  border-radius: 15px !important;
  opacity: 0.91 !important;
  width: 650px;
  max-height: 80vh;
  overflow: hidden;
}

.quick-command-search {
  --search-top: 50%; /* Or calculate with fixed height + margin, can be set manually */
}

.VivaldiList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Quick command width management */
.ReactVirtualized__Grid.ReactVirtualized__List,
.ReactVirtualized__Grid__innerScrollContainer,
.quick-commands,
.quick-command-container,
.quick-command-search,
.quick-command,
.quick-command-sectionheader {
  width: 100% !important;
}

.ReactVirtualized__Grid.ReactVirtualized__List {
  max-width: 800px !important;
}
