/*
 * Rofi theme for Gemini script
 * Based on Catppuccin Macchiato color palette
 */

* {
    background-color: #24273a; /* Base */
    text-color:       #cad3f5; /* Text */
    border-color:     #89b4fa; /* Blue */
}

window {
    width: 40%;
    padding: 20px;
    border: 2px;
    border-radius: 15px;
}

error-message {
    padding: 20px;
    border-radius: 15px;
    background-color: #363a4f; /* Surface1 */
    text-color: #cad3f5; /* Text */
}
